services:
  ninco-postgres-db:
    profiles: [dev, prod]
    image: bitnami/postgresql:14 
    container_name: ninco-postgres-db
    ports:
      - "5432:5432"  # Expose PostgreSQL port for development  (remove in production)
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${DATABASE_USERNAME:-docker}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD:-docker}
      - POSTGRES_DB=${DATABASE_NAME:-ninco}
    volumes:
      - ninco_db_volume:/bitnami/postgresql  # Persist database data in a Docker volume
    networks:
      - ninco-network
    env_file:
      - .env  # Load environment variables from the .env file

volumes:
  ninco_db_volume:
    driver: local  # Specify the volume driver for local persistence

networks:
  ninco-network:
    driver: bridge  # Use the bridge network for service communication