services:
  ninco-postgres-db:
    profiles: [dev, prod]
    image: postgres:14-alpine
    container_name: ninco-postgres-db
    ports:
      - "5432:5432"  # Expose PostgreSQL port for development  (remove in production)
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${DATABASE_USERNAME:-docker}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD:-docker}
      - POSTGRES_DB=${DATABASE_NAME:-ninco}
    volumes:
      - ninco_db_volume:/var/lib/postgresql/data  # Persist database data in a Docker volume
    networks:
      - ninco-network
    env_file:
      - .env  # Load environment variables from the .env file

  caddy:
    profiles: [prod]
    image: caddy:2-alpine
    container_name: ninco-caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - ninco-network
    depends_on:
      - ninco-frontend
      - ninco-backend

  ninco-backend:
    profiles: [prod]
    build: ./backend
    container_name: ninco-backend
    restart: unless-stopped
    depends_on:
      - ninco-postgres-db
    networks:
      - ninco-network
    env_file:
      - ./backend/.env

  ninco-frontend:
    profiles: [prod]
    build:
      context: ./frontend
      args:
        - NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
        - NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
        - NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
        - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    container_name: ninco-frontend
    restart: unless-stopped
    depends_on:
      - ninco-backend
    networks:
      - ninco-network
    env_file:
      - ./frontend/.env.local

volumes:
  ninco_db_volume:
    driver: local  # Specify the volume driver for local persistence
  caddy_data:
  caddy_config:

networks:
  ninco-network:
    driver: bridge  # Use the bridge network for service communication